# name: "Terraform State Workflow"

# on:
#   push:
#     branches: [ "main" ]
#   # pull_request: # This triggers on Merge Requests

# jobs:
#   terraform:
#     runs-on: ubuntu-latest
#     env:
#       TF_HTTP_PASSWORD: ${{ secrets.TF_HTTP_PASSWORD }}
    
#     steps:
#       - name: Checkout Code
#         uses: actions/checkout@v4

#       - name: Setup Terraform
#         uses: hashicorp/setup-terraform@v3

#       - name: Terraform Init
#         run: terraform init

#       # Always run Plan for both PRs and Pushes
#       - name: Terraform Plan
#         run: terraform plan -input=false

#       # Only run Apply when code is merged into main
#       - name: Terraform Apply
#         if: github.ref == 'refs/heads/main' && github.event_name == 'push'
#         run: terraform apply -auto-approve -input=false